/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #313030;
  --dark: #686868;
}

.btn, .btn-primary{
  background-color: #700a0a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.btn, .btn-primary:hover{
  background-color: #ff0000;
  color: white;
}

input {
  border-style: solid;
  border-color: var(--light);
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--light);
  padding: 5px;
}


body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #222121 !important;

  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 60px;
}

/* MAIN CONTAINER */
.wrapper {
  margin: 0;
  padding: 0;
}

 
/* HEADER */
header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 'nt mn mn sb . . . ';
  background-color: rgb(61, 60, 60);
  width: 100%;
  margin-bottom: 0px;
}

.shlogo {
  grid-area: nt;
  object-fit: cover;
  width: 180px;
  max-height: 100%;
  padding-left: 30px;
  padding-top: 0px;
}

.shlogo img {
  height: 80px;
  border-radius: 15px;
}
/* MAIN CONTAINER */
.main-container {
  /* padding: 50px; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #222121;
  color: white;
}

/*
.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}
*/
.box a {
  transition: transform 0.3s;
}

.box a:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.box img {
  border-radius: 2px;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}






