/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #f3f3f3;
  --dark: #686868;
}

input {
  border-style: solid;
  border-color: var(--light);
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--light);
  padding: 5px;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 60px;
}

/* MAIN CONTAINER */
.wrapper {
  margin: 0;
  padding: 0;
}

 
/* HEADER */
header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 'nt mn mn sb . . . ';
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;
}

.shlogo {
  grid-area: nt;
  object-fit: cover;
  width: 180px;
  max-height: 100%;
  padding-left: 30px;
  padding-top: 0px;
}

.shlogo img {
  height: 80px;
  border-radius: 15px;
}

#logo {
  color: #e50914;
  margin: 0;
  padding: 0;
}

.main-nav {
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-nav a:hover {
  color: var(--dark);
}

.sub-nav {
  grid-area: sb;
  padding: 0 40px 0 40px;
}

.sub-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.sub-nav a:hover {
  color: var(--dark);
}

/* MAIN CONTAINER */
.main-container {
  padding: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
  
  background-color: #700a0a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  
}

.btn:hover{
  background-color: #ff0000; /* Green */
  color: white;

}

.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box a {
  transition: transform 0.3s;
}

.box a:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.box img {
  border-radius: 2px;
}

/* LINKS */
.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a {
  padding: 10px;
}

.logo {
  color: var(--dark);
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'nt nt nt  .  .  . sb . . . '
      'mn mn mn mn mn mn  mn mn mn mn';
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width: 700px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'nt nt nt  .  .  . sb . . . '
      'mn mn mn mn mn mn  mn mn mn mn';
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  /* MAIN CONTAINER */
  .wrapper {
    font-size: 15px;
  }

  header {
    margin: 0;
    padding: 20px 0 0 0;
    position: static;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'nt'
      'mn'
      'sb';
    text-align: center;
  }

  .shlogo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }

  .main-nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .box a:hover {
    transition: transform 0.3s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.2);
  }

  .logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }
}

.featured {
  height: 100vh;
  background-size: 100%;
  background-position: 'center';
  background-repeat: no-repeat;
}
.featured--vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}
.featured--horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 100px;
  padding-top: 70px;
}
.featured--name {
  font-size: 35px;
  font-weight: bold;
}
.featured--info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}
.featured--points,
.featured--year,
.featured--seasons {
  display: inline-block;
  margin-right: 15px;
}
.featured--points {
  color: #46d369;
}
.featured--description {
  margin-top: 15px;
  font-size: 13px;
  color: #999;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.featured--buttons {
  margin-top: 15px;
}
.featured--watchbutton,
.featured--mylistbutton {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.2s;
}
.featured--watchbutton:hover,
.featured--mylistbutton:hover {
  opacity: 0.7;
}
.featured--mylistbutton {
  background-color: #333;
  color: #fff;
}
.featured--watchbutton {
  background-color: #fff;
  color: #000;
}
.featured-genres {
  margin-top: 15px;
  font-size: 13px;
  color: #999;
}

@media (max-width: 760px) {
  .featured {
    height: 90vh;
    background-size: 'cover';
    background-position: 'center';
    background-repeat: no-repeat;
  }
  .featured--name {
    font-size: 40px;
  }
  .featured--info {
    font-size: 16px;
  }
  .featured--description {
    font-size: 14px;
    max-width: 100%;
    margin-right: 30px;
  }
  .featured--watchbutton,
  .featured--mylistbutton {
    font-size: 16px;
  }
  .featured-genres {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .featured {
    height: 90vh;
    background-size: 'cover';
    background-position: 'center';
    background-repeat: no-repeat;
  }
}
